body { background-color: #ffffcc;
color: #003300;
font-family: Arial, Helvetica, sans-serif;
}
h2 { background-color: #ffffcc;
color: #003366;
}
h3{ background-color: #ffffcc;
color: #006600;
}
dd { font-style:italic;
font-size: .90em;
line-height: 200%;
}
.logo { background-color: #ffffcc;
color: #48751A;
}
.contact { font-family: "Times New Roman", serif;
font-size: .90em;
font-weight: bold;
}
#nav { font-weight: normal;
font-size: 0.70em;
}
#img{
	border:none;
}
.property{
	padding-right:30px;
	padding-top:5px;

}
#footer { font-size: .60em;
font-style: italic;
}